* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.navbar {
    display: flex;
    align-items: center;
    height: 70px;
    max-width: 1100px;
    margin: auto;
}

.navbar ul {
    display: flex;
    align-items: center;
    width: 100%;
}

.navbar ul li {
    padding: 0px 15px 0px 15px;
}

.navbar ul li a {
    font-family: 'Work Sans';
    font-size: 1.1rem;
    color: rgb(110, 110, 110);
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 140px);
    background-color: #F4F6FC;
}

.hero h1 {
    color: #19247E;
}

.main-hero {
    max-width: 1100px;
    position: relative;
    right: 40px;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.text-box {
    display: flex;
    flex-direction: column;
}

.text-box h1 {
    font-family: 'Rubik';
    font-size: 40px;
    line-height: 38px;
    padding: 20px 0px 20px 0px;
}

.text-box p {
    font-family: 'Work Sans';
    font-size: 1.1rem;
    color: rgb(70, 70, 70);
}


.blue-btn {
    width: 150px;
    height: 45px;
    border-radius: 18px;
    border: none;
    outline: none;
    background-color: rgb(0, 89, 255);
    font-family: 'Work Sans';
    color: white;
    cursor: pointer;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: black;
}

.icons-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons-list a {
    margin: 0px 15px 0px 15px;
    color: white;
}