<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal desenvolvedor</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/69de80e10e.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <nav class="navbar">
        <ul>
            <li>
                <a href="docs" target="_blank">Documentação</a>
            </li>
            <li>
                <a href="https://colab.research.google.com/drive/13r-QH4OZTQC6eNsRX17v6G-fWpRSrJrb?usp=sharing" target="_blank">Jupyter</a>
            </li>
            <li>
                <a href="https://www.postman.com/ucontech/workspace/wishlist/collection/19298007-28283039-4f17-4ff9-871a-1f07068208adte" target="_blank">Postman</a>
            </li>

            <li>
                <a href="https://gitlab.com/geanduartedev/wishlistapp">GitLab</a>
            </li>
        </ul>

    </nav>
    <div class="hero">
        <div class="main-hero">
            <img height="350" src="{{ url_for('static', path='images/22.png') }}">
            <div class="text-box">

                <h1>Seja bem vindo ao <br>
                    portal do desenvolvedor
                </h1>
    
                <p>
                    Aqui é possível encontrar o direcionamento para a documentação da API WishList.<br>
                    É possível realizar o teste dos endpoint através do Jupyter notebook e Postman. <br>
                    Há também os meios para entrar em contato com o desenvolvedor afim de oferecer sugestões e críticas.
                </p>
            </div>
        </div>
    </div>
    <footer>
        <div class="icons-list">
            <a href="https://www.linkedin.com/in/geanduarte/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
            <a href="https://github.com/GEANDUARTE138" target="_blank"><i class="fab fa-github fa-2x"></i></a>
            <a href="mailto:gean_sd@live.com" target="_blank"><i class="fas fa-envelope-square fa-2x"></i></a>
            <a href="https://api.whatsapp.com/send?phone=5519995908987" target="_blank"><i class="fab fa-whatsapp fa-2x"></i></i></a>
        </div>
    </footer>
</body>
</html>